

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef; 
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('./assets/fundo-azul.avif'); 
    background-size: cover; 
    background-position: center; 
    filter: blur(0); 
}



.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(208, 227, 255, 0.8); 
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


.app-header {
    color: #333;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    backdrop-filter: blur(5px); 
    font-family: 'Roboto', sans-serif; 
}

h1 {
    font-size: 36px;
    margin: 0;
    color: #343a40;
}

p {
    font-size: 18px;
    margin-top: 10px;
    color: #495057; 
}


.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.relatorio {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 40px;
}

.time-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-size: 60px; 
    font-weight: bold;
    color: #0051ad; 
}

.label {
    font-size: 18px;
    color: #6c757d; 
}


h2 {
    font-size: 28px;
    color: #343a40;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .app-header h1 {
        font-size: 28px;
    }

    .relatorio {
        font-size: 24px;
    }

    .time {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .app-header h1 {
        font-size: 24px;
    }

    .relatorio {
        font-size: 20px;
    }

    .time {
        font-size: 40px;
    }
}
